<div class="container my-4" *ngIf="reportData">
    <h3 class="mb-3">Health Insurance Claims Record Summary</h3>
  
    <!-- Policy / Employer Info -->
    <div class="card mb-4 shadow-sm" >
      <div class="card-header fw-semibold">Policy / Employer {{reportData.insurer}}</div>
      <div class="card-body">
        <div class="mb-3 row">
          <label for="schemeEmployerName" class="col-sm-4 col-form-label">Name of Scheme/Employer</label>
          <div class="col-sm-8">
            <h3>{{reportData.schemeEmployerName}}</h3>
          </div>
        </div>
  
        <div class="mb-3 row">
          <label for="policyNumber" class="col-sm-4 col-form-label">Policy Number</label>
          <div class="col-sm-8">
            <h3>{{reportData.policyNumber}}</h3>
          </div>
        </div>
  
        <hr class="my-3">
  
        <div class="mb-3 row">
          <label for="policyeffectiveDateNumber" class="col-sm-4 col-form-label">Policy effective date</label>
          <div class="col-sm-8">
            {{reportData.policyPeriod.effectiveDate}}
          </div>
        </div>
  
        <div class="mb-3 row">
          <label for="expiryDate" class="col-sm-4 col-form-label">Policy expiry date</label>
          <div class="col-sm-8">
          <h3>{{reportData.policyPeriod.expiryDate}}</h3>
          </div>
        </div>
  
        <div class="mb-0 row">
          <label for="initialEffectiveDate" class="col-sm-4 col-form-label">Initial policy date</label>
          <div class="col-sm-8">
            <h3>{{reportData.policyPeriod.initialEffectiveDate}}</h3>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Report Period -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header fw-semibold">Report Period</div>
      <div class="card-body">
        <div class="mb-3 row" >
          <label for="startDate" class="col-sm-4 col-form-label">Report period start date</label>
          <div class="col-sm-8 col-md-6">
          <h3>{{reportData.reportPeriod.startDate}}</h3>      
    </div>
        </div>
  
        <div class="mb-3 row">
          <label for="endDate" class="col-sm-4 col-form-label">Report period end date</label>
          <div class="col-sm-8 col-md-6">
            <h3>{{reportData.reportPeriod.endDate}}</h3>
          </div>
        </div>
  
        <div class="mb-0 row">
          <label for="productionDate" class="col-sm-4 col-form-label">Report production date</label>
          <div class="col-sm-8 col-md-6">
            <h3>{{reportData.reportPeriod.productionDate}}</h3>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Claim Values -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header fw-semibold">Claim Values (AED)</div>
      <div class="card-body">
        <div class="mb-3 row">
          <label for="claimsProcessed" class="col-sm-4 col-form-label">Value of claims processed during report period</label>
          <div class="col-sm-8 col-md-6">
            <h3>{{reportData.totalValues.claimsProcessed}}</h3>
          </div>
        </div>
  
        <div class="mb-3 row">
          <label for="claimsIncurredReportedNotProcessed" class="col-sm-4 col-form-label">Value of claims incurred, reported but not processed up to end of reporting</label>
          <div class="col-sm-8 col-md-6">
            <h3>{{reportData.totalValues.claimsIncurredReportedNotProcessed}}</h3>
          </div>
        </div>
  
        <div class="mb-0 row">
          <label for="claimsIncurredNotReported" class="col-sm-4 col-form-label">Value of claims incurred but not reported up to end of reporting period</label>
          <div class="col-sm-8 col-md-6">
            <h3>{{reportData.totalValues.claimsIncurredNotReported}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  