
<h4 class="mb-3">Claims distribution</h4>

<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Category</th>
        <th>AED Value</th>
        <th>Count</th>
        <th>% of Total AED</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of claimsDistrub">
        <td>{{ row.category }}</td>
        <td>{{ row.value | number }}</td>
        <td>{{ row.count }}</td>
        <td>{{ row.percentage }}</td>
      </tr>
    </tbody>
  </table>