


<div *ngIf="reportData" class="row justify-content-center mt-4">
  <div class="col-md-6 d-flex align-items-center justify-content-center">
      <app-claimsdistribution-chart
      [optotalval]="optotalval"
      [iptotalval]="iptotalval"
      [dentaltotalval]="dentaltotalval"
      [maternitytotalval]="maternitytotalval">
    </app-claimsdistribution-chart>
  </div>
  
  <table class="table table-bordered table-striped table-hover text-center">
    <thead class="table-primary">
        <tr>
        <th>services</th>
        <th>Claim Amount</th>
        <th>Number of Encounters</th>
        <th>Claims</th>
    </tr>
      </thead>
      <tbody>
        <tr><td>Out Patient Including Pharmacy</td>
            <td>{{ optotalval | number }}</td>
            <td>{{optotalnum | number}}</td>
            <td>{{ (optotalval)/(optotalval+iptotalval+dentaltotalval+maternitytotalval) * 100 | number:'1.2-2' }}%</td>
        </tr>
        <tr>
          <td>In patient</td>
          <td>{{ iptotalval | number}}</td>
          <td>{{ iptotalnum | number}}</td>
          <td>{{  (iptotalval)/ (optotalval+iptotalval+dentaltotalval+maternitytotalval) * 100 | number:'1.2-2' }}%

          </tr>
          <tr>
            <td>Dental</td>
            <td>{{ dentaltotalval | number}}</td>
            <td>{{ dentaltotalnum | number}}</td>
            <td>{{  (dentaltotalval)/ (optotalval+iptotalval+dentaltotalval+maternitytotalval)* 100 | number:'1.2-2' }}%

          </tr>
       <tr>
          <td>Maternity</td>
          <td>{{ maternitytotalval | number}}</td>
          <td>{{ maternitytotalnum | number}}</td>
          <td>{{ (maternitytotalval)/ (optotalval+iptotalval+dentaltotalval+maternitytotalval) * 100 | number:'1.2-2' }}%

        </tr>
      </tbody>
    </table>

  
  
