<div class="container mt-5" >
    <div style="text-align:center;">

        @if(!registerMode){

        
            <div class="text-center">
                <button class="btn btn-primary btn-lg me-2" (click)="registerToggle()">Register</button>
                <button class="btn btn-primary btn-lg me-2">Upload a file</button>
    
            </div>

        } @else {
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <app-register 
                        (cancelRegister)="cancelRegisterMode($event)"
                        ></app-register>
                    </div>
                </div>
            </div>
        }

       
  </div>
</div>
<div class="container mt-4">
    <h3>Upload PDF Report</h3>
    <input type="file" accept="application/pdf" (change)="onFileSelected($event)" class="form-control" />
  
    <div *ngIf="isLoading" class="mt-2 text-primary">Uploading and processing...</div>
  
    <div *ngIf="reportData" class="mt-4">
      <h5>Report Data</h5>
      <p><strong>Name of Scheme/Employer:</strong> {{ reportData.schemeEmployerName }}</p>
      <p><strong>Policy Number:</strong> {{ reportData.policyNumber }}</p>

      <div class="container mt-4"> 
        <h2>Policy Period</h2>
        <div *ngIf="reportData?.policyPeriod">
            <p><strong>Effective Date:</strong> {{ reportData.policyPeriod.effectiveDate| date: 'dd-MM-YYYY'}}</p>
            <p><strong>Expiry Date:</strong> {{ reportData.policyPeriod.expiryDate | date: 'dd-MM-YYYY'}}</p>
            <p><strong>Initial Effective Date:</strong> {{ reportData.policyPeriod.initialEffectiveDate || 'N/A'| date: 'dd-MM-YYYY' }}</p>
          </div>
            <hr>

            <h2>Report Period </h2>
          <div *ngIf="reportData?.reportPeriod">
            <p><strong>Start Date :</strong> {{ reportData.reportPeriod.startDate| date: 'dd-MM-YYYY'}}</p>
            <p><strong> End Date:</strong> {{ reportData.reportPeriod.endDate | date: 'dd-MM-YYYY' }}</p>
            <p><strong>Production Date  :</strong> {{ reportData.reportPeriod.productionDate || 'N/A' | date: 'dd-MM-YYYY' }}</p>
          </div>
          <hr>

          <h2>Total Values</h2>
          <div *ngIf="reportData?.totalValues">
            <p><strong>Value of claims Processed during report period :</strong> {{ reportData.totalValues.claimsProcessed | number}}</p>
            <p><strong>Value of claims incurred , reported but not Processed up to end of reporting
                period :</strong> {{ reportData.totalValues.claimsIncurredReportedNotProcessed | number}}</p>
            <p><strong>Value of claims incurred but not reported up to end of reporting period  :</strong> {{ reportData.totalValues.claimsIncurredNotReported || 'N/A' | number}}</p>
          </div>
          <hr>

        <div *ngIf="reportData">

        <table class="table table-bordered table-striped table-hover">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Population census (at beginning of reporting period) </th>
                    <th>0-15</th>
                    <th>16-25</th>
                    <th>26-35</th>
                    <th> 36-50</th>
                    <th> 51-65</th>
                    <th>Over 65 </th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let item of reportData?.populationCensusBeg">
                    <td>{{ item.id }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.from0To15 }}</td>
                    <td>{{ item.from16To25 }}</td>
                    <td>{{ item.from26To35 }}</td>
                    <td>{{ item.from36To50 }}</td>
                    <td>{{ item.from51To65 }}</td>
                    <td>{{ item.over65}}</td>
                  </tr>
            </tbody>
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Population census (at beginning of reporting period) </th>
                    <th>0-15</th>
                    <th>16-25</th>
                    <th>26-35</th>
                    <th> 36-50</th>
                    <th> 51-65</th>
                    <th>Over 65 </th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let item of reportData?.populationCensusEnd">
                    <td>{{ item.id }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.from0To15 }}</td>
                    <td>{{ item.from16To25 }}</td>
                    <td>{{ item.from26To35 }}</td>
                    <td>{{ item.from36To50 }}</td>
                    <td>{{ item.from51To65 }}</td>
                    <td>{{ item.over65}}</td>
                  </tr>
            </tbody>
        </table>

        <h2>Part II Claims data</h2>
        <div *ngIf="reportData?.partII">

            <table class="table table-bordered table-striped table-hover">
                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Claims data by member type (value AED) </th>
                        <th>IP</th>
                        <th>OP</th>
                        <th> Pharmacy</th>
                        <th>Dental </th>
                        <th>Maternatiy  </th>
                        <th>Total </th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr *ngFor="let item of reportData?.partII?.memberTypeValues">
                        <td>{{ item.id }}</td>
                        <td>{{ item.memberType }}</td>
                        <td>{{ item.ip | number}}</td>
                        <td>{{ item.op | number }}</td>
                        <td>{{ item.pharmacy }}</td>
                        <td>{{ item.dental | number }}</td>
                        <td>{{ item.maternity | number}}</td>
                        <td>{{ item.total | number}}</td>
        
                      </tr>
                </tbody>

                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Claims data by member type (number)</th>
                        <th>IP</th>
                        <th>OP</th>
                        <th> Pharmacy</th>
                        <th>Dental </th>
                        <th>Maternatiy  </th>
                        <th>Total </th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr *ngFor="let item of reportData?.partII?.memberTypeNumbers">
                        <td>{{ item.id }}</td>
                        <td>{{ item.memberType }}</td>
                        <td>{{ item.ip | number}}</td>
                        <td>{{ item.op| number }}</td>
                        <td>{{ item.pharmacy }}</td>
                        <td>{{ item.dental| number }}</td>
                        <td>{{ item.maternity | number }}</td>
                        <td>{{ item.total | number}}</td>
        
                      </tr>
                </tbody>

                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Claims data by diagnosis grouping (top 10 by value) </th>
                        <th>IP</th>
                        <th>OP</th>
                        <th> Pharmacy</th>
                        <th>Dental </th>
                        <th>Maternatiy  </th>
                        <th>Total </th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr *ngFor="let item of reportData?.partII?.diagnosisValues">
                        <td>{{ item.id }}</td>
                        <td>{{ item.icdDescription }}</td>
                        <td>{{ item.ip | number }}</td>
                        <td>{{ item.op | number }}</td>
                        <td>{{ item.pharmacy }}</td>
                        <td>{{ item.dental | number }}</td>
                        <td>{{ item.maternity | number }}</td>
                        <td>{{ item.total | number}}</td>
        
                      </tr>
                </tbody>


                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Number of claims by diagnosis grouping (corresponds to list in 10 by value) </th>
                        <th>IP</th>
                        <th>OP</th>
                        <th> Pharmacy</th>
                        <th>Dental </th>
                        <th>Maternatiy  </th>
                        <th>Total </th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr *ngFor="let item of reportData?.partII?.diagnosisNumbers">
                        <td>{{ item.id }}</td>
                        <td>{{ item.icdDescription }}</td>
                        <td>{{ item.ip | number}}</td>
                        <td>{{ item.op | number}}</td>
                        <td>{{ item.pharmacy }}</td>
                        <td>{{ item.dental | number}}</td>
                        <td>{{ item.maternity | number}}</td>
                        <td>{{ item.total | number}}</td>
        
                      </tr>
                </tbody>




                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Claims data by provider (top 10 by AED value)  </th>
                        <th>IP</th>
                        <th>OP</th>
                        <th> Pharmacy</th>
                        <th>Dental </th>
                        <th>Maternatiy  </th>
                        <th>Total </th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr *ngFor="let item of reportData?.partII?.providerValues">
                        <td>{{ item.id }}</td>
                        <td>{{ item.providerName }}</td>
                        <td>{{ item.ip | number }}</td>
                        <td>{{ item.op | number }}</td>
                        <td>{{ item.pharmacy }}</td>
                        <td>{{ item.dental | number }}</td>
                        <td>{{ item.maternity | number}}</td>
                        <td>{{ item.total | number}}</td>
        
                      </tr>
                </tbody>


                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Number of Claims by provider (corresponding to top 10 by AED value)</th>
                        <th>IP</th>
                        <th>OP</th>
                        <th> Pharmacy</th>
                        <th>Dental </th>
                        <th>Maternatiy  </th>
                        <th>Total </th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr *ngFor="let item of reportData?.partII?.providerNumbers">
                        <td>{{ item.id }}</td>
                        <td>{{ item.providerName }}</td>
                        <td>{{ item.ip | number }}</td>
                        <td>{{ item.op | number }}</td>
                        <td>{{ item.pharmacy }}</td>
                        <td>{{ item.dental | number}}</td>
                        <td>{{ item.maternity | number }}</td>
                        <td>{{ item.total | number}}</td>
        
                      </tr>
                </tbody>



                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Claims data by network (UAE only by AED value) </th>
                        <th>IP</th>
                        <th>OP</th>
                        <th> Pharmacy</th>
                        <th>Dental </th>
                        <th>Maternatiy  </th>
                        <th>Total </th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr *ngFor="let item of reportData?.partII?.networkValues">
                        <td>{{ item.id }}</td>
                        <td>{{ item.networkType }}</td>
                        <td>{{ item.ip | number}}</td>
                        <td>{{ item.op | number}}</td>
                        <td>{{ item.pharmacy }}</td>
                        <td>{{ item.dental | number }}</td>
                        <td>{{ item.maternity | number}}</td>
                        <td>{{ item.total | number}}</td>
        
                      </tr>
                </tbody>




                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Claims data by network (UAE only by number)  </th>
                        <th>IP</th>
                        <th>OP</th>
                        <th> Pharmacy</th>
                        <th>Dental </th>
                        <th>Maternatiy  </th>
                        <th>Total </th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr *ngFor="let item of reportData?.partII?.networkNumbers">
                        <td>{{ item.id }}</td>
                        <td>{{ item.networkType }}</td>
                        <td>{{ item.ip | number}}</td>
                        <td>{{ item.op | number }}</td>
                        <td>{{ item.pharmacy }}</td>
                        <td>{{ item.dental | number }}</td>
                        <td>{{ item.maternity | number }}</td>
                        <td>{{ item.total | number}}</td>
        
                      </tr>
                </tbody>  
            </table>
            <hr>


            <table class="table table-bordered table-striped table-hover">
                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Non-UAE claims data  </th>
                        <th>IP</th>
                        <th>OP</th>
                        <th> Pharmacy</th>
                        <th>Dental </th>
                        <th>Maternatiy  </th>
                        <th>Total </th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr *ngFor="let item of reportData?.partII?.nonUAEClaim">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.ip | number }}</td>
                        <td>{{ item.op  | number}}</td>
                        <td>{{ item.pharmacy }}</td>
                        <td>{{ item.dental | number }}</td>
                        <td>{{ item.maternity | number }}</td>
                        <td>{{ item.total | number}}</td>
        
                      </tr>
                </tbody>
            </table>
                <hr>
                <table class="table table-bordered table-striped table-hover">

                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Total claims Processed per service month (by AED value)  </th>
                        <th>Month ending date</th>
                        <th>Year</th>
                        <th> Value</th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr *ngFor="let item of reportData?.partII?.claimsPerServiceMonth">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.monthEndDate | date: 'MMMM' }}</td>
                        <td>{{ item.monthEndDate | date: 'YYYY' }}</td>
                        <td>{{ item.value | number}}</td>
                      </tr>
                </tbody>
            </table>
            <hr>

            <table class="table table-bordered table-striped table-hover">
                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Patient Support Programs </th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
        
                <tbody>
                    <tr *ngFor="let item of reportData?.partII?.patientSupportPrograms">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td></td>
                        <td></td>
                        <td></td>

                      </tr>
                </tbody>
            </table>

            <button (click)="goToExcelReport()">Go to Excel Report</button>


    </div>


  
  
  