<div class="container mt-4">
    <h2 class="mb-3">Claims Data</h2>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th> Claims data by member type (value AED) </th>
                <th>IP</th>
                <th>OP</th>
                <th>Pharmacy</th>
                <th>Dental</th>
                <th>Maternity</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let claimsBymemebertypeAED of BymemebertypeAED">
                <td>{{claimsBymemebertypeAED.id}}</td>
                <td>{{claimsBymemebertypeAED.type}}</td>
                <td>{{claimsBymemebertypeAED.ip}}</td>
                <td>{{ claimsBymemebertypeAED.op  }}</td>
                <td>{{ claimsBymemebertypeAED.pharmacy }}</td>
                <td>{{ claimsBymemebertypeAED.dental  }}</td>
                <td>{{ claimsBymemebertypeAED.maternity  }}</td>

            </tr>
        </tbody>
    </table>


    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>  Claims data by member type (number)  </th>
                <th>IP</th>
                <th>OP</th>
                <th>Pharmacy</th>
                <th>Dental</th>
                <th>Maternity</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let ClaimsBymemebertypenumber of Bymemebertypenumber">
                <td>{{ClaimsBymemebertypenumber.id}}</td>
                <td>{{ClaimsBymemebertypenumber.type}}</td>
                <td>{{ClaimsBymemebertypenumber.ip}}</td>
                <td>{{ ClaimsBymemebertypenumber.op  }}</td>
                <td>{{ ClaimsBymemebertypenumber.pharmacy }}</td>
                <td>{{ ClaimsBymemebertypenumber.dental  }}</td>
                <td>{{ ClaimsBymemebertypenumber.maternity  }}</td>

            </tr>
        </tbody>
    </table>


    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th> Claims data by diagnosis grouping (top 10 by value)   </th>
                <th>IP</th>
                <th>OP</th>
                <th>Pharmacy</th>
                <th>Dental</th>
                <th>Maternity</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let claimsByDiagnosisGrouptop10byValue of ByDiagnosisGrouptop10byValue">
                <td>{{claimsByDiagnosisGrouptop10byValue.id}}</td>
                <td>{{claimsByDiagnosisGrouptop10byValue.group}}</td>
                <td>{{claimsByDiagnosisGrouptop10byValue.ip}}</td>
                <td>{{ claimsByDiagnosisGrouptop10byValue.op  }}</td>
                <td>{{ claimsByDiagnosisGrouptop10byValue.pharmacy }}</td>
                <td>{{ claimsByDiagnosisGrouptop10byValue.dental  }}</td>
                <td>{{ claimsByDiagnosisGrouptop10byValue.maternity  }}</td>

            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Number of claims by diagnosis grouping (corresponds to list in 10 by value)     </th>
                <th>IP</th>
                <th>OP</th>
                <th>Pharmacy</th>
                <th>Dental</th>
                <th>Maternity</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let ClaimsByDiagnosisGroupList10ByValue of ByDiagnosisGroupList10ByValue">
                <td>{{ClaimsByDiagnosisGroupList10ByValue.id}}</td>
                <td>{{ClaimsByDiagnosisGroupList10ByValue.group}}</td>
                <td>{{ClaimsByDiagnosisGroupList10ByValue.ip}}</td>
                <td>{{ ClaimsByDiagnosisGroupList10ByValue.op  }}</td>
                <td>{{ ClaimsByDiagnosisGroupList10ByValue.pharmacy }}</td>
                <td>{{ ClaimsByDiagnosisGroupList10ByValue.dental  }}</td>
                <td>{{ ClaimsByDiagnosisGroupList10ByValue.maternity  }}</td>

            </tr>
        </tbody>
    </table>



    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Total claims Processed per service month (by AED value)   </th>
                <th>Month ending date </th>
                <th>Year</th>
                <th>Value</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let ClaimsProcessedperServicebyAEDvalue of TotalClaimsProcessedperServicebyAEDvalue">
                <td>{{ClaimsProcessedperServicebyAEDvalue.id}}</td>
                <td>{{ClaimsProcessedperServicebyAEDvalue.claim}}</td>
                <td>{{ClaimsProcessedperServicebyAEDvalue.monthEndDate}}</td>
                <td>{{ ClaimsProcessedperServicebyAEDvalue.year  }}</td>
                <td>{{ ClaimsProcessedperServicebyAEDvalue.value }}</td>
            </tr>
        </tbody>
    </table>
    <!-- Toggle Button -->
<div class="text-center my-3">
    <button class="btn btn-primary" (click)="toggleChart()">
      {{ showChart ? 'Hide Chart' : 'Show Pie Chart' }}
    </button>
  </div>
  
  <!-- Conditional Chart -->
  <div *ngIf="showChart" style="display: block; max-width: 600px; margin: auto;">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [type]="pieChartType"
            [options]="pieChartOptions">
    </canvas>
  </div>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Claims data by provider (top 10 by AED value) </th>
                <th>IP</th>
                <th>OP</th>
                <th>Pharmacy</th>
                <th>Dental</th>
                <th>Maternity</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let ClaimsByProviderTop10byAED of ByProviderTop10byAED">
                <td>{{ClaimsByProviderTop10byAED.id}}</td>
                <td>{{ClaimsByProviderTop10byAED.group}}</td>
                <td>{{ClaimsByProviderTop10byAED.ip}}</td>
                <td>{{ ClaimsByProviderTop10byAED.op  }}</td>
                <td>{{ ClaimsByProviderTop10byAED.pharmacy }}</td>
                <td>{{ ClaimsByProviderTop10byAED.dental  }}</td>
                <td>{{ ClaimsByProviderTop10byAED.maternity  }}</td>

            </tr>
        </tbody>
    </table>


    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Number of Claims by provider (corresponding to top 10 by AED value)  </th>
                <th>IP</th>
                <th>OP</th>
                <th>Pharmacy</th>
                <th>Dental</th>
                <th>Maternity</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let ClaimByProviderCorrospondingtoTop10ByAED of ByProviderCorrospondingtoTop10ByAED">
                <td>{{ClaimByProviderCorrospondingtoTop10ByAED.id}}</td>
                <td>{{ClaimByProviderCorrospondingtoTop10ByAED.group}}</td>
                <td>{{ClaimByProviderCorrospondingtoTop10ByAED.ip}}</td>
                <td>{{ ClaimByProviderCorrospondingtoTop10ByAED.op  }}</td>
                <td>{{ ClaimByProviderCorrospondingtoTop10ByAED.pharmacy }}</td>
                <td>{{ ClaimByProviderCorrospondingtoTop10ByAED.dental  }}</td>
                <td>{{ ClaimByProviderCorrospondingtoTop10ByAED.maternity  }}</td>

            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Claims data by network (UAE only by AED value)  </th>
                <th>IP</th>
                <th>OP</th>
                <th>Pharmacy</th>
                <th>Dental</th>
                <th>Maternity</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let ClaimByNetworkUAEonlyByAED of ByNetworkUAEonlyByAED">
                <td>{{ClaimByNetworkUAEonlyByAED.id}}</td>
                <td>{{ClaimByNetworkUAEonlyByAED.group}}</td>
                <td>{{ClaimByNetworkUAEonlyByAED.ip}}</td>
                <td>{{ ClaimByNetworkUAEonlyByAED.op  }}</td>
                <td>{{ ClaimByNetworkUAEonlyByAED.pharmacy }}</td>
                <td>{{ ClaimByNetworkUAEonlyByAED.dental  }}</td>
                <td>{{ ClaimByNetworkUAEonlyByAED.maternity  }}</td>

            </tr>
        </tbody>
    </table>


    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Claims data by network (UAE only by number) </th>
                <th>IP</th>
                <th>OP</th>
                <th>Pharmacy</th>
                <th>Dental</th>
                <th>Maternity</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let ClaimByNetworkUAEonlyByNumber of ByNetworkUAEonlyByNumber">
                <td>{{ClaimByNetworkUAEonlyByNumber.id}}</td>
                <td>{{ClaimByNetworkUAEonlyByNumber.group}}</td>
                <td>{{ClaimByNetworkUAEonlyByNumber.ip}}</td>
                <td>{{ ClaimByNetworkUAEonlyByNumber.op  }}</td>
                <td>{{ ClaimByNetworkUAEonlyByNumber.pharmacy }}</td>
                <td>{{ ClaimByNetworkUAEonlyByNumber.dental  }}</td>
                <td>{{ ClaimByNetworkUAEonlyByNumber.maternity  }}</td>

            </tr>
        </tbody>
    </table>
   

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Non-UAE claims data  </th>
                <th>IP</th>
                <th>OP</th>
                <th>Pharmacy</th>
                <th>Dental</th>
                <th>Maternity</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let NonUAEClaimData of NonUAEClaimsData">
                <td>{{NonUAEClaimData.id}}</td>
                <td>{{NonUAEClaimData.group}}</td>
                <td>{{NonUAEClaimData.ip}}</td>
                <td>{{ NonUAEClaimData.op  }}</td>
                <td>{{ NonUAEClaimData.pharmacy }}</td>
                <td>{{ NonUAEClaimData.dental  }}</td>
                <td>{{ NonUAEClaimData.maternity  }}</td>

            </tr>
        </tbody>
    </table>





    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Patient Support Programs </th>
             
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let PatientSupportProgram of PatientSupportPrograms">
                <td>{{PatientSupportProgram.id}}</td>
                <td>{{PatientSupportProgram.program}}</td>       
            </tr>
        </tbody>
    </table>
</div>