<!-- <div class="text-end mb-3">
  <button class="btn btn-primary" (click)="downloadPDF()">Download PDF</button>
</div> -->
<div class="text-end mb-3">
  <button class="btn btn-primary me-3" (click)="downloadPowerPoint()">Download Power point report</button>
</div>


<div id="pdfContent" *ngIf="reportData">
  <div class="cover-page" id="leading">
    <div class="row justify-content-center mt-4">
      <img src="assets/img/Logo.png" class="logo" alt="Logo">
    </div>
    <div class="row justify-content-center mt-4">
      <div class="text-center">
        <h4>GROUP MEDICAL INSURANCE – {{ getQuarterFromDate(reportData.policyPeriod.expiryDate) }} Claims Review</h4>
        <h5>
          {{reportData.schemeEmployerName}}
        </h5>
        <p><strong>Inception Date:</strong> {{ reportData.policyPeriod.effectiveDate | date: 'dd MMM yyyy' }}</p>
      </div>
    </div>
  </div>
  

  <div class="section" id="policy overview">
    <h3>Policy Overview</h3>
    
      <h4><strong>Insurance Company:</strong></h4> Abu Dhabi National Takaful Insurance
      <h4><strong>Policy Period:</strong></h4> {{ reportData.policyPeriod.effectiveDate | date: 'dd/MM/yyyy' }} - {{ reportData.policyPeriod.expiryDate | date: 'dd/MM/yyyy' }}
    
  </div>
  
  
  
  <div  class="section" id="Population break down with Growth trend">
    <h3>Population Breakdown with Growth Trend</h3>

    <app-population></app-population>
  </div>
  

  <div  class="section" id="Claims per membership type">
    <h3>Claims per membership type</h3>
    <app-claimspermembershiptype></app-claimspermembershiptype>
  </div>
  
  <div class="section" id="Claim distribution based on services/benefits">
    <h3>Claim Distribution Based on Services/Benefits</h3>

    <app-claimsdistribution> </app-claimsdistribution>
    </div>
  

    <div  class="section" id="Month on Month Claims Distribution">
      <h3>Month-on-Month Claims Distribution</h3>

      <app-claimspermonth></app-claimspermonth>
    </div>

    <div  class="section" id="Claims - Top 10 preferred providers (IP + OP)">
      <h3>Top Preferred Providers (IP + OP)</h3>

      <app-top10providers></app-top10providers>
    </div>

    <div  class="section" id="Claims - Top 10 Diagnosis (IP + OP )">
      <h3>Top 10 Diagnosis (IP + OP)</h3>

      <app-top10conditions></app-top10conditions>
    </div>

    <div  class="section" id="Claims Analysis- Inside & Outside Network">
      <h3>Claims Analysis - Inside & Outside Network</h3>

      <app-inoutnetwork></app-inoutnetwork>
    </div>

    <div  class="section" id="Policy Performance Report">
      <h3>Policy Performance Report</h3>

      <div *ngIf="reportData?.totalValues">

        <table class="table table-bordered table-striped table-hover">
          <thead class="table-primary">
            <tr>
              <th>
                <strong>Claims</strong>
                
              </th>
              <th><strong>total (In AED)</strong></th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
              <strong>Value of claims Processed during report period :</strong>
            </td>
            <td>{{ reportData.totalValues.claimsProcessed | number}}</td>
          </tr>
          <tr>
            <td>
              <strong>Value of claims incurred , reported but not Processed up to end of reporting
                period :</strong>
          </td>
          <td>
            {{ reportData.totalValues.claimsIncurredReportedNotProcessed | number}}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Value of claims incurred but not reported up to end of reporting period  :</strong>
          </td>
          <td>{{ reportData.totalValues.claimsIncurredNotReported || 'N/A' | number}}</td>
        </tr>
          </tbody>
          <tfoot>
            <td></td>
            <td>Till {{reportData.reportPeriod.endDate  | date: 'dd/MM/yyyy'}}</td>
          </tfoot>
        </table>
      </div>