<div class="container mt-4">
    <h2 class="mb-4 text-primary">New Client</h2>
  
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="row g-3 needs-validation" novalidate>
  
      <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input
          [(ngModel)]="profile.name"
          name="name"
          id="name"
          type="text"
          class="form-control"
          required />
      </div>
  
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input
          [(ngModel)]="profile.lastName"
          name="lastName"
          id="lastName"
          type="text"
          class="form-control"
          required />
      </div>
  
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input
          [(ngModel)]="profile.email"
          name="email"
          id="email"
          type="email"
          class="form-control"
          required />
      </div>
  
      <div class="col-md-6">
        <label for="mobileNumber" class="form-label">Mobile Number</label>
        <input
          [(ngModel)]="profile.mobileNumber"
          name="mobileNumber"
          id="mobileNumber"
          type="text"
          class="form-control"
          required />
      </div>
  
      <div class="col-md-6">
        <label for="carModel" class="form-label">Car Model</label>
        <input
          [(ngModel)]="profile.carModel"
          name="carModel"
          id="carModel"
          type="text"
          class="form-control" />
      </div>
  
      <div class="col-md-6">
        <label for="vehiclePlatenumber" class="form-label">Vehicle Plate Number</label>
        <input
          [(ngModel)]="profile.vehiclePlatenumber"
          name="vehiclePlatenumber"
          id="vehiclePlatenumber"
          type="text"
          class="form-control" />
      </div>
  
      <div class="col-md-6">
        <label for="drivingLicense" class="form-label">Driving License</label>
        <input
          [(ngModel)]="profile.drivingLicense"
          name="drivingLicense"
          id="drivingLicense"
          type="text"
          class="form-control" />
      </div>
  
      <div class="col-md-6">
        <label for="vcc" class="form-label">VCC</label>
        <input
          [(ngModel)]="profile.vcc"
          name="vcc"
          id="vcc"
          type="text"
          class="form-control" />
      </div>
  
      <div class="col-md-6">
        <label for="emiratesID" class="form-label">Emirates ID</label>
        <input
          [(ngModel)]="profile.emiratesID"
          name="emiratesID"
          id="emiratesID"
          type="text"
          class="form-control" />
      </div>
  
      <div class="col-12">
        <button type="submit" class="btn btn-primary mt-3">Create</button>
      </div>
    </form>
  </div>
  