
<div *ngIf="reportData" class="row mt-4">
    <div class="col-md-6">
      <table class="table table-bordered text-center">
          <thead class="table-primary">
        <tr><th>Dependency </th>
            <th>% member count</th>
            <th>Claims Number As of {{reportData.policyPeriod.effectiveDate}}</th>
        <th>% Claim Numbers</th>
        <th>Claims Value as of {{reportData.policyPeriod.expiryDate}}</th>
        <th>% Claim Value</th>
        <th>Average</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Employee</td>
            <td>{{ reportData.totalNumberOfEmployees}}</td></tr>
        <tr>
          <td>Spouse</td>
          <td>{{ reportData.totalNumberOfSpouse}}</td>
        </tr>
        <tr>
            <td>Dependents</td>
            <td>{{reportData.totalNumberOfDependents}}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>{{(reportData.totalNumberOfDependents)}}+ {{reportData.totalNumberOfEmployees}}+{{reportData.totalNumberOfSpouse}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  
  