<div class="mb-3">
    <button class="btn btn-primary" [routerLink]="['/createprofile']">
      + Create New Profile
    </button>
  </div>
<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Car Model</th>
            <th>Vehicle Plate</th>
            <th>Driving License</th>
            <th>VCC</th>
            <th>Emirates ID</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let profile of profiles">
            <td>{{profile.id}}</td>
            <td>{{profile.name}}</td>
            <td>{{profile.lastName}}</td>
            <td>{{ profile.email  }}</td>
            <td>{{ profile.mobileNumber }}</td>
            <td>{{ profile.carModel  }}</td>
            <td>{{ profile.drivingLicense  }}</td>
            <td>{{ profile.vehiclePlatenumber  }}</td>
            <td>{{ profile.vcc  }}</td>
            <td>{{ profile.emiratesID  }}</td>


        </tr>
    </tbody>
</table>