<div class="container mt-4" >
  <h3>Population census</h3>

  <!-- Beginning of reporting period -->
  <div class="row mb-3" >
    <table  class="table table-bordered text-center">
      <thead class="table-primary">
        <tr>
          <th>Population census (at the beginning of reporting period)</th>
          <th>0-15</th>
          <th>16-25</th>
          <th>26-35</th>
          <th>36-50</th>
          <th>51-65</th>
          <th>Over 65</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of reportData?.populationCensusBeg">
          <td><input type="text" class="form-control"  [value]="item.gender" /><td>
          <td><input type="number" class="form-control" [value]="item.from0To15" /></td>
          <td><input type="number" class="form-control" [value]="item.from16To25" /></td>
          <td><input type="number" class="form-control"[value]="item.from26To35" /></td>
          <td><input type="number" class="form-control" [value]="item.from36To50"/></td>
          <td><input type="number" class="form-control"  [value]="item.from51To65"/></td>
          <td><input type="number" class="form-control" [value]="item.over65" /></td>
        </tr>

     
      </tbody>
    </table>
  </div>

  <!-- End of reporting period -->
  <div class="row mb-3">
    <table  class="table table-bordered text-center">
      <thead class="table-primary">
        <tr>
          <th>Population census (at the end of reporting period)</th>
          <th>0-15</th>
          <th>16-25</th>
          <th>26-35</th>
          <th>36-50</th>
          <th>51-65</th>
          <th>Over 65</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of reportData?.populationCensusEnd">
          <td><input type="text" class="form-control"  [value]="item.gender" /><td>
            <td><input type="number" class="form-control"  [value]="item.from0To15" /></td>
            <td><input type="number" class="form-control"  [value]="item.from16To25" /></td>
            <td><input type="number" class="form-control" [value]="item.from26To35" /></td>
            <td><input type="number" class="form-control"  [value]="item.from36To50"/></td>
            <td><input type="number" class="form-control" [value]="item.from51To65"/></td>
            <td><input type="number" class="form-control"  [value]="item.over65" /></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Example: quick debug / preview button -->
  <!-- <button class="btn btn-outline-secondary" (click)="console.log(getAllAsJson())">Preview JSON</button> -->
</div>
