    
      <div class="container mt-4">
        <h3>Upload Insurance Report</h3>
      
        <div class="row mb-3">
          <div class="col-md-3">
            <label>Employees</label>
            <input type="number" class="form-control" [(ngModel)]="totalNumberOfEmployees"/>
          </div>
          <div class="col-md-3">
            <label>Dependents</label>
            <input type="number" class="form-control" [(ngModel)]="totalNumberOfDependents" />
          </div>
          <div class="col-md-3">
            <label>Spouse</label>
            <input type="number" class="form-control" [(ngModel)]="totalNumberOfSpouse" />
          </div>
          <div class="col-md-3">
            <label>Report Date</label>
            <input type="date" class="form-control" [(ngModel)]="creatingDate" />
          </div>
        </div>
      
        <div class="mb-3">
          <label>Select PDF File</label>
          <input type="file" class="form-control" accept="application/pdf" (change)="onFileSelected($event)" />
        </div>
      
        <button class="btn btn-primary" (click)="onSubmit()">Upload</button>
      
        <div *ngIf="isLoading" class="mt-3 text-info">
          Uploading and processing...
        </div>


   